.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin-bottom: 60px;
}

.header1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.header2 {
    margin-top: 1px;
}

.header3 {
    margin-bottom: 2px;
}

.right-box {
    width: 250px;
    background-color: #edd8b0;
    padding: 10px;
    align-self: flex-start;
}

.text-box {
    background-color: #edd8b0;
    padding: 5px;
}

.bottom-half {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
